{
    "extends": [
        "eslint:recommended"
    ],
    "env": {
        "mocha": true,
        "node": true,
        "browser": true
      },
    "globals": {
      "chai": true,
      "sinon": true,
      "expect": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "rules": {
      "semi": ["error", "always"]
    }
}
